<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>SAMUEL KANYI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
        integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!--font-family: 'Knewave', cursive;-->


    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/bootsnav.css">

    <!--Theme custom css -->
    <link rel="stylesheet" href="/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="/css/responsive.css" />

    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">


    <!-- Preloader -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>
    <!--End off Preloader -->


    <div class="culmn">
        <!--Home page style-->


        <nav class="navbar navbar-default bootsnav navbar-fixed black no-background">
            <div class="container">

                <div class="attr-nav">
                    <ul>
                        <li class="side-menu">
                            <a target="_blank" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </div>


                <!-- Start Header Navigation -->
                <div class="navbar-header">

                    <a class="navbar-brand" target="_blank" href="#brand">
                        PORTFOLIO
                    </a>

                </div>
                <!-- End Header Navigation -->
            </div>


            <!-- Start Side Menu -->
            <div class="side">
                <a target="_blank" href="#" class="close-side">
                    <i class="fa fa-times"></i>
                </a>
                <div class="widget">
                    <h6 class="title">Samuel Kanyi Portfolio</h6>
                    <ul class="link main-nav">
                        <li>
                            <a target="_blank" href="#home">Home</a>
                        </li>
                        <li>
                            <a target="_blank" href="#about">About</a>
                        </li>
                        <li>
                            <a target="_blank" href="#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a target="_blank" href="#choose">Choose</a>
                        </li>
                        <li>
                            <a target="_blank" href="#contact">Contact</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/amshelhack3r?tab=repositories">
                                <i class="fab fa-github"></i>GITHUB REPOS
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- End Side Menu -->
        </nav>


        {{{body}}}
    </div>

    <!-- JS includes -->

    <script src="/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>

    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/bootsnav.js"></script>



    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>